body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #ec6ac5;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
}

h2 {
    color: #e8add2;
}

.screenshot-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.screenshot {
    width: 30%;
    margin: 10px;
    border: 2px solid #ec6ac5;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #ec6ac5;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}